#数据库连接参数配置文件
#驱动名称
DRIVER={{DRIVER}}
#连接URL 192.168.100.174
URL={{URL}}
#URL=jdbc:mysql://127.0.0.1:3306/SMC?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull 
#用户名
#USERNAME=root
USERNAME={{USERNAME}}
#密码
PASSWORD={{PASSWORD}}
#初始化连接数
INITIALSIZE={{INITIALSIZE}}
#最大连接数
MAXACTIVE={{MAXACTIVE}}
#最大空闲连接
MAXIDLE={{MAXIDLE}}
#最小空闲连接
MINIDLE={{MINIDLE}}
#是否在自动回收超时连接的时候打印连接的超时错误
LOGABANDONED={{LOGABANDONED}}
#是否自动回收超时连接
REMOVEABANDONED={{REMOVEABANDONED}}
#超时时间(以s为单位)
REMOVEABANDONEDTIMEOUT={{REMOVEABANDONEDTIMEOUT}}
#超时等待时间（以ms为单位）
MAXWAIT={{MAXWAIT}}
#测试语句
VALIDATIONQUERY={{VALIDATIONQUERY}}
#testOnBorrow
TESTONBORROW={{TESTONBORROW}}
#testOnReturn
TESTONRETURN={{TESTONRETURN}}
#testWhileIdle
TESTWHILEIDLE={{TESTWHILEIDLE}}


