CompName={{CompName}}
CompFlag={{CompFlag}}
LocalAddr={{LocalAddr}}

#日志配置
LogMask={{LogMask}}
#单个日志文件最大限制，单位M
MaxLogFileSize={{MaxLogFileSize}}
LogQueueMask={{LogQueueMask}}

#外部命令所在目录
ProgramDir={{ProgramDir}}

#证书配置，证书路径结尾必须带/
SSLPath={{SSLPath}}
SSLCaFile={{SSLCaFile}}
SSLKeyFile={{SSLKeyFile}}
SSLPasswd={{SSLPasswd}}

#总线配置
MQServer={{MQServer}}
MQPort={{MQPort}}

#监控框架类型,0:monitor 1:urm
MonitorType={{MonitorType}}
