CompName={{CompName}}
CompFlag={{CompFlag}}
LocalAddr={{LocalAddr}}

#日志配置
LogMask={{LogMask}}
#单个日志文件最大限制，单位M
MaxLogFileSize={{MaxLogFileSize}}
LogQueueMask={{LogQueueMask}}
#mon_server配置

ControlServer={{ControlServer}}
CmdListenPort={{CmdListenPort}}

#证书配置，证书路径结尾必须带/
SSLPath={{SSLPath}}
SSLCaFile={{SSLCaFile}}
SSLKeyFile={{SSLKeyFile}}
SSLPasswd={{SSLPasswd}}

#数据库所在分区
DBPartition={{DBPartition}}
DATAPartition={{DATAPartition}}
WebServer={{WebServer}}
DISK_LIMIT={{DISK_LIMIT}}

#监控框架类型,0:monitor 1:urm
MonitorType={{MonitorType}}

ServerIdentity={{ServerIdentity}}
