alert_limit={{alert_limit}}
bk_index={{bk_index}}
bk_mode={{bk_mode}}
bk_type={{bk_type}}
checkRefererFlag={{checkRefererFlag}}
cli_dft={{cli_dft}}
cli_pwd={{cli_pwd}}
cli_usr={{cli_usr}}
gui_dft={{gui_dft}}
gui_pwd={{gui_pwd}}
gui_usr={{gui_usr}}
keep_length={{keep_length}}
keep_unit={{keep_unit}}
remote_ip={{remote_ip}}
remote_path={{remote_path}}
remote_pwd={{remote_pwd}}
remote_usr={{remote_usr}}
sys_flag={{sys_flag}}
syslogPort1={{syslogPort1}}
syslogPort2={{syslogPort2}}
web_dft={{web_dft}}
managerInterface={{managerInterface}}
manufacturer={{manufacturer}}
SMCVersion={{SMCVersion}}
whiteReferer={{whiteReferer}}
