#总线服务器IP
ACTIVEMQ_SERVER_IP = {{ACTIVEMQ_SERVER_IP}}
#总线服务器端口
ACTIVEMQ_SERVER_PORT = {{ACTIVEMQ_SERVER_PORT}}
#ACTIVEMQ_LOCAL_PORT
#总线连接用户名
ACTIVEMQ_USERNAME = {{ACTIVEMQ_USERNAME}}
#总线连接密码
ACTIVEMQ_PASSWORD = {{ACTIVEMQ_PASSWORD}}
#总线连接证书
ACTIVEMQ_SERVER_TRUSTSTORE = {{ACTIVEMQ_SERVER_TRUSTSTORE}}
#总线连接证书
ACTIVEMQ_SERVER_KEYSTORE = {{ACTIVEMQ_SERVER_KEYSTORE}}
#总线连接证书密码
ACTIVEMQ_SERVER_KEYSTORE_PASSWORD = {{ACTIVEMQ_SERVER_KEYSTORE_PASSWORD}}
#总线连接证书密码
ACTIVEMQ_SERVER_TRUSTSTORE_PASSWORD = {{ACTIVEMQ_SERVER_TRUSTSTORE_PASSWORD}}
ACTIVEMQ_SERVER_KEYSTORETYPE = {{ACTIVEMQ_SERVER_KEYSTORETYPE}}
#接收超时
ACTIVEMQ_RECIEVE_TIMEOUT = {{ACTIVEMQ_RECIEVE_TIMEOUT}}
